#wrapper {
    background-color: white;
    margin: 40px;
}
h1 {
    text-align: center;
}
.calculator {
    background-color: green;
    height: 700px;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.row1 {
    display: flex;
    height: 20%;
}
.row2 {
    display: flex;
    height: 20%;

}
.row3 {
    display: flex;
    height: 20%;

}
.row4 {
    display: flex;
    height: 20%;

}
.row5 {
    display: flex;
    height: 20%;

}
.numbervalue {
    padding: 20px;
    font-size: 70px;
}

.operator {
    padding: 20px;
    font-size: 70px;

}

.clear {
    padding: 20px;
    font-size: 70px;

}

.value {
    padding: 20px;
    font-size: 70px;

}

.decimal {
    padding: 20px;
    font-size: 70px;

}

